.MSGERROR {
border: 1px solid #000000;
background-color: #FFA0DF;
color:#FF0000;
padding: 8px 11px;
font-size: 11px; font-weight:bold;
margin: 0px 10px 10px 10px;
text-align:left;
}
.MSGINFO {
border: 1px solid #000000;
background-color: #FFA0DF;
color:#000000;
padding: 8px 11px;
font-size: 11px; font-weight:bold;
margin: 0px 10px 10px 10px;
text-align:left;
}
BODY,.MENU{font:8pt Verdana,Arial;text-align:center}
BODY{background:#FFF0D0;color:#000000}
A{color:#00000F;text-decoration:underline}
A:hover{color:#FF20DF;text-decoration:none}
P{text-indent: 8px;text-align:justify}
H1{font:25pt Verdana,Arial;font-weight:bold}
.MENU {background:#FF80DF;font-weight:bold;border:0px solid #000000}
.MENU TD{border:0px solid #000000}
.MENU A,.MENU A:hover{text-decoration:none;display:block}
.MENU A{color:#00000F}
.MENU A:hover{color:#FF20DF;}
.CONTENT,.CONTENT TH,.CONTENT TD{border:0px solid #000000}
.CONTENT {font:8pt Verdana,Arial;background:#FFF0DF}
.CONTENT TH{background:#FFA0DF}
.TEXT ,.TEXT TH, .TEXT TD{border:0px solid #000000}
.IMAGE {border:1px solid #000000}
UL, LI{font:10pt Verdana,Arial}
.TEXT {font:8pt Verdana,Arial;background:#FFF0DF}
.TEXT TH{background:#FF80DF}
.SHADE{background:#AFAFAF}
.LIGHT{background:#F0F0F0}
.SEL    {background:#FFF0DF;color:#000000}
